body {
  background-color: #273642;
  color: white;
  margin: 0;
  margin-bottom: 58px;
}

.todos-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button.danger {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  flex: 1;
  bottom: 0;
  background: #ba0909;
  height: 60px;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: white;
}

form {
  display: flex;
  flex: 1;
}

form > input {
  padding: 15px;
  font-size: 20px;
  flex: 1;
}

form > button {
  background: #367ead;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: white;
}

form > button:disabled {
  background: gray;
}

.todo-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.todo-item {
  color: white;
  background-color: #101a29;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  border-bottom: 2px solid #367ead;
  padding: 20px;
  flex: 1;
}
